<!-- Add an iframe/img that will act as a trailer of the video. -->
<iframe
  class="aspect-auto absolute h-full w-full"
  src="https://www.youtube.com/embed/Dydmpfo68DA?autoplay=1&mute=1&loop=1&controls=0"
  frameborder="0">
</iframe>

<div class="h-screen bg-white">
  <div class="pt-[20%] px-24 absolute text-white bg-gradient-to-r from-black h-full">
    <h1 class="text-6xl font-bold">Animal</h1>
    <p class="inline-block py-6 text-xl w-2/3 flex-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium facere temporibus necessitatibus aliquid itaque facilis ipsam ratione laborum magnam optio? Placeat eveniet molestiae possimus iste autem natus explicabo aut non.</p>
    <div>
      <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s] cursor-pointer">Play</button>
      <button class="mx-2 bg-gray-500 text-white py-4 px-12 text-xl bg-opacity-10 rounded-lg cursor-pointer">More Info</button>
    </div>
  </div>
</div>
